@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	margin: 0;
	font-family: 'Fira Code Variable', monospace;
	font-family: 'Manrope Variable', sans-serif;
}

body {
	@apply w-full min-h-screen;
	@apply bg-gradient-to-bl from-zinc-50 to-sky-50/80 text-zinc-900;
	@apply dark:bg-gradient-to-bl dark:from-zinc-950 dark:to-teal-950/25 dark:text-zinc-100;
}

h1 {
	@apply mb-2 text-4xl font-bold tracking-tight scroll-m-20;
}
h2 {
	@apply pb-2 text-2xl font-semibold tracking-tight transition-colors scroll-m-20;
}
h3 {
	@apply text-xl font-medium tracking-tight scroll-m-20;
}
h4 {
	@apply text-lg font-medium tracking-tight scroll-m-20;
}

p a {
	@apply text-sky-600 dark:text-teal-400 hover:underline underline-offset-2;
}

.shiki {
	@apply bg-slate-500/5 !important;
}

.dark .shiki,
.dark .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}
